@use '../../abstracts/variables';
@use '../../abstracts/mixins';


.services{

    &__title{
        text-align: center;
        margin: 32px;
        font-size: 2rem;
    }

    &__block{
    @media(min-width:600px){
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    }

    &__item{
        background-color: white;
        max-width: 100%;
        margin: 16px;

        @media(min-width:600px){
            max-width: 40%;
        }

    
        &__image{
            max-width: 100%;
            margin: auto;

            img{
                max-width: 100%;
                margin: 0;
            }
    
        }

        &__content{
            max-width: 80%;
            padding: variables.$padding-base;

        }

    }

    &__button{
        @include mixins.button-primary;
        margin: variables.$padding-base;
        background-color: variables.$background-color-secondary;
        color: variables.$primary-color;
        width: 20%;
    
    }

}
