/* Ce fichier contient les styles spécifiques à l'en-tête du site.
 */


 @use '../abstracts/variables';
 @use '../abstracts/mixins';


 header {
     background-color: variables.$background-color;
     padding: 32px 0;
     @include mixins.flex-center;

     @media(min-width:650px) {
        display: flex;
        flex-direction: row;
        @include mixins.flex-space-around;
     }

     .logo{
        width: 150px;
        img{
            max-width: 100%;
        }
     }

     .devis{
     height: 100px;
     @include mixins.flex-center;



        p{
            @include mixins.flex-center;
            background-color: variables.$background-color-secondary;
            height: 100%;
            padding: variables.$padding-base;
        }
    }
 }
