@use '../../abstracts/variables';
@use '../../abstracts/mixins';



/* FORMULAIRE DE CONTACT */

  
.formulaire {
    background-color: variables.$secondary-color ;
    border: ridge variables.$tertiary-color;
    border-radius: 10%;
    margin: 32px auto;
    width: 80%;

    @media (min-width:600px){
        width: 50%;
    }
    
    ul {

        li {
            margin-bottom: variables.$padding-base;
            @include mixins.flex-center;


            label {
                font-weight: bold;
                font-size: 1.2rem;
                padding: 8px 0 ;

                @media (min-width:600px){
                    padding: 10px 0;

                }
            }

            input, textarea {
                width: 70%;
                border: 1px solid #ccc;
                border-radius: 25px;
                padding: 8px;

                @media (min-width:600px){
                    width: 50%;
                    padding: variables.$padding-base;
                }
            }

            .button{
                @include mixins.button;
                margin-top: 32px;
                margin-bottom: variables.$padding-base;
                max-width: 30%;
            }
        }
    }

}

  
