@use '../../abstracts/variables';
@use '../../abstracts/mixins';


.contact{
color: variables.$secondary-color;
@include mixins.flex-center;

    @media(min-width: 600px){
        flex-direction: row;
    }



    &__header{
        @include mixins.flex-center;
        text-align: center;
        padding: variables.$padding-base;
        border-bottom:ridge variables.$tertiary-color;

        @media(min-width: 600px){
            border:none;
        }
    }

    &__form{

        ul{
            @media(min-width: 600px){
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                max-width: 60%;
                margin: 32px auto;
                gap: 16px;
            }


            li{
                @include mixins.flex-center;

                label {
                    padding: 10px 0 ;
                }

                input, select {
                    width: 100%;
                    border: 1px solid variables.$secondary-color;
                    padding: 8px;

                    @media (min-width:600px){
                        padding: variables.$padding-base;
                    }
                }

                .button{
                    @include mixins.button-primary;
                    margin-top: 32px;
                    margin-bottom: variables.$padding-base;
                    width: 100%;
                }


            }
        }
    }
}