/* Ce fichier contient des variables SCSS utilisées à travers tout le projet, comme les couleurs, les polices et les espacements. 

On les déclare avec : $nomdevariable : valeur souhaitée*/



$primary-color: black;
$secondary-color: white;
$tertiary-color: #ff6f61;
$hover_color:orange;

$background-color : black;
$background-color-secondary : orange;

$font-family-base: 'Arial';


$font-size-basic: 16px;

$base-spacing: 1rem;

$padding-base:16px;


